.ContainerRoom {
  min-height: 100vh;
  padding: 6rem 2rem;
  background-color: var(--color-base);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.DescriptionSection {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 1.6rem 0 3.2rem;

  font-size: 2.6rem;
  font-weight: 700;
}


.VideoPlayer {
  width: 50vw;
  margin: 2rem 0;
  border: .8rem solid var(--color-primary);
  border-radius: 1rem;
}

video {
  width: 100%;
}

.Controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-secundary);
  padding: 1rem;
}

.Controls button {
  width: 20%;
  text-align: center;
  margin-right: 2rem;
}

.Controls input {
  width: 70%;
  text-align: center;
  margin-right: 2rem;
}